body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(10, 40, 95, 1) 10%,
    rgba(0, 117, 190, 1) 100%
  );
  text-align: center;
}

.app-title-img{
  margin-top:3em;
  margin-bottom:0;
  width:50%;
}

.app-title {
  margin-top:0;
  margin-bottom: 1em;
  font-size: 4.5em;
  -webkit-text-fill-color: rgba(255, 204, 0, 1);
  -webkit-text-stroke: 0.04em  rgba(0, 117, 190, 1);
}


/* rgba(10, 40, 95, 1) 10%,
rgba(0, 117, 190, 1) 100%,
rgba(213, 161, 0, 1) 100%,
rgba(255, 204, 0, 1) 100% */
